@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100..900&display=swap");
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
:root {
  --bg-color: #ffffff;
  --dark-color: #000000;
  --blackgrey-main-text: #282828;
  --red-color-btn: #dc4133;
  --grey-color: #d9d9d9;
  --aqua-color: #249eb8;
  --aqualight-color: #27a8c4;
}

.header {
  padding: 121px 0 71px 0;
}

.header__content-top {
  position: relative;
  height: 64px;
}

.header__menu {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.icon-menu {
  display: none;
}

.burger__line {
  display: none;
}

.menu__body {
  margin-top: 9px;
}

.menu__list {
  display: flex;
}
.menu__list :not(:last-child) {
  margin-right: 25px;
}

.menu__link {
  color: var(--blackgrey-main-text);
  font-weight: 500;
  line-height: 19px;
  text-align: left;
}

.link-arrow {
  background-image: url("../../assets/icon/arrow-header.svg");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: right center;
  padding-right: 14px;
}

.header__content_link-info {
  display: flex;
  align-items: center;
}

.header__icon-link {
  display: flex;
  align-items: center;
  gap: 15px;
}

.whatsapp__icon {
  background-color: #74c04b;
  width: 43px;
  height: 43px;
  border-radius: 5px;
  border: none;
  background-image: url("../../assets/image/whatsapp.svg");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center center;
  cursor: pointer;
}

.telegram__icon {
  background-color: #27a8c4;
  width: 43px;
  height: 43px;
  border-radius: 5px;
  border: none;
  background-image: url("../../assets/image/telegram.svg");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center center;
  cursor: pointer;
}

.header__online-text {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: 42px;
}
.header__online-text p {
  color: #787373;
  font-family: Raleway;
  font-size: 13px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0.1px;
  text-align: left;
}
.header__online-text a {
  color: var(--blackgrey-main-text);
  font-size: 15px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 2%;
  text-align: left;
  background-image: url("../../assets/icon/dot.svg");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: left center;
  padding-left: 22px;
}

.header__tel {
  color: var(--blackgrey-main-text);
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  margin-left: 30px;
}

.header__content-bottom {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.header__logotype {
  cursor: pointer;
}

.header__bottom-rs {
  display: flex;
}

.menu__body-rs {
  display: flex;
  align-items: flex-end;
  margin-bottom: 12px;
}

.menu__list-rs {
  display: flex;
}
.menu__list-rs :not(:first-child) {
  margin-left: 25px;
}

.menu__link-rs {
  color: var(--dark-color);
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  background-image: url("../../assets/icon/arrow-header-grey.svg");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: right center;
  padding-right: 14px;
}

.header__btn {
  color: var(--bg-color);
  font-size: 16px;
  font-weight: 600;
  line-height: 125%;
  padding: 12px 25px;
  border-radius: 30px;
  border: none;
  background-color: #dc4133;
  margin-left: 27px;
  transition: background-color 0.4s;
}

.header__btn:hover {
  background-color: #c51505;
}

@media (max-width: 1069px) {
  .header {
    padding-top: 20px;
    padding-bottom: 31px;
  }
  .header__icon-link,
  .menu__body-rs,
  .menu__body {
    display: none;
  }
  .header__online-text {
    margin-left: 0;
  }
  .header__menu {
    align-items: center;
  }
  .burger__line {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 30px;
    height: 20px;
    transition: transform 0.3s ease 0s;
  }
  .burger__line span:nth-child(1) {
    width: 100%;
    height: 3px;
    background-color: var(--dark-color);
    border-radius: 2px;
    transform: translate(0, 0);
    transition: all 0.3s ease 0s;
  }
  .burger__line span:nth-child(2) {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0;
    height: 3px;
    background-color: var(--dark-color);
    border-radius: 2px;
    transition: all 0.3s ease 0s;
  }
  .burger__line span:nth-child(3) {
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0;
    height: 3px;
    background-color: var(--dark-color);
    border-radius: 2px;
    transition: all 0.3s ease 0s;
  }
  .burger__line.active span:nth-child(1) {
    transform: rotate(45deg) translate(9px, 9px);
  }
  .burger__line.active span:nth-child(2) {
    transform: scale(0);
  }
  .burger__line.active span:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
  }
  .icon-menu {
    position: absolute;
    width: 360px;
    height: 300px;
    background-color: var(--bg-color);
    border-radius: 50px;
    padding: 30px;
    border: 3px solid var(--blackgrey-main-text);
    top: 158px;
    right: 0;
    display: flex;
    flex-direction: column;
    margin-right: 1px;
    gap: 12px;
    transition: transform 0.3s ease 0s;
    transform: translate(120%, 0);
    z-index: 9999;
  }
  .icon-menu span {
    color: var(--blackgrey-main-text);
    font-size: 20px;
    font-weight: 500;
    line-height: 19px;
    text-align: left;
  }
  .icon-menu.active {
    transform: translate(0, 0);
  }
}
@media (max-width: 500px) {
  .header__online-text p {
    font-size: 11px;
    line-height: 13px;
    letter-spacing: 0.1px;
  }
  .header__online-text a {
    font-size: 14px;
    line-height: 16px;
    font-weight: 600;
  }
  .header__tel {
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
    margin-left: 20px;
  }
  .header__content-bottom {
    height: 50px;
  }
  .header__btn {
    font-size: 12px;
    font-weight: 600;
    line-height: 125%;
    margin-left: 0;
  }
  .header__logotype img {
    width: 117px;
    height: 31px;
  }
  .menu__icon {
    top: 148px;
    gap: 12px;
  }
  .menu__icon span {
    color: var(--blackgrey-main-text);
    font-size: 20px;
    font-weight: 500;
    line-height: 19px;
    text-align: left;
  }
}
#footer {
  margin-bottom: 242px;
}

.footer__content {
  width: 100%;
  height: 772px;
  background-color: #195874;
  border-radius: 30px;
  padding: 78px 130px 81px 100px;
  display: flex;
  justify-content: space-between;
  max-width: 1170px;
  margin: 0 auto;
}

.footer__leftside {
  display: flex;
  flex-direction: column;
  flex: 0 1 480px;
}

.footer__title {
  color: var(--bg-color);
  font-size: 28px;
  font-weight: 600;
  line-height: 33px;
  text-align: left;
  margin-bottom: 40px;
}

.input__change-lang {
  display: flex;
  flex-direction: column;
  max-width: 416px;
}

.footer__item:nth-child(1) {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}
.footer__item:nth-child(1) input {
  background-color: #f5f6fa;
  border-radius: 10px;
  border: none;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 20px;
  font-size: 16px;
  width: 180px;
}
.footer__item:nth-child(1) input ::-moz-placeholder {
  color: rgba(120, 115, 115, 0.6);
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
}
.footer__item:nth-child(1) input ::placeholder {
  color: rgba(120, 115, 115, 0.6);
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
}

.footer__item:nth-child(2) label {
  color: var(--bg-color);
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  text-align: left;
}
.footer__item:nth-child(2) textarea {
  width: 416px;
  height: 64px;
  background-color: #f5f6fa;
  border-radius: 10px;
  border: none;
  padding-top: 12px;
  padding-left: 20px;
  font-size: 16px;
  margin: 14px 0 16px 0;
  resize: none;
}
.footer__item:nth-child(2) textarea ::-moz-placeholder {
  color: rgba(120, 115, 115, 0.6);
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  text-align: left;
}
.footer__item:nth-child(2) textarea ::placeholder {
  color: rgba(120, 115, 115, 0.6);
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  text-align: left;
}

.footer__item:nth-child(3) {
  margin-bottom: 23px;
}

.footer__item:nth-child(4) input {
  width: 416px;
  height: 43px;
  background-color: #f5f6fa;
  border-radius: 10px;
  border: none;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 20px;
  font-size: 16px;
  margin-bottom: 20px;
}
.footer__item:nth-child(4) input ::-moz-placeholder {
  color: rgba(120, 115, 115, 0.6);
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  text-align: left;
}
.footer__item:nth-child(4) input ::placeholder {
  color: rgba(120, 115, 115, 0.6);
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  text-align: left;
}

.footer__item:nth-child(5) {
  display: flex;
  justify-content: space-between;
}
.footer__item:nth-child(5) input {
  width: 198px;
  height: 43px;
  background-color: #f5f6fa;
  border-radius: 10px;
  border: none;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 20px;
  font-size: 16px;
  margin-bottom: 20px;
}
.footer__item:nth-child(5) input ::-moz-placeholder {
  color: rgba(120, 115, 115, 0.6);
  font-size: 14px;
  font-weight: 600;
  line-height: 19px;
  text-align: left;
}
.footer__item:nth-child(5) input ::placeholder {
  color: rgba(120, 115, 115, 0.6);
  font-size: 14px;
  font-weight: 600;
  line-height: 19px;
  text-align: left;
}

.footer__item:nth-child(6) {
  margin-bottom: 35px;
}
.footer__item:nth-child(6) fieldset {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}
.footer__item:nth-child(6) fieldset legend {
  color: var(--bg-color);
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  text-align: left;
  margin-bottom: 19px;
}
.footer__item:nth-child(6) fieldset div > label {
  padding-left: 10px;
  color: var(--bg-color);
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  text-align: left;
}

.footer__leftside button {
  width: 191px;
  min-height: 50px;
  background-color: #74c04b;
  border: none;
  border-radius: 30px;
  color: var(--bg-color);
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  padding: 10px 30px;
}

.confirm__politic {
  display: flex;
  margin-top: 15px;
  gap: 6px;
}
.confirm__politic span {
  color: rgba(255, 255, 255, 0.7);
  font-size: 14px;
  font-weight: 400;
  line-height: 130%;
  text-align: left;
}
.confirm__politic span a {
  color: rgba(255, 255, 255, 0.7);
  text-decoration: underline;
  font-size: 14px;
  font-weight: 400;
  line-height: 130%;
}

input[type=checkbox i] {
  margin: 1px 3px 3px 4px;
  border: 1px solid var(--dark-color);
}

.footer__rightside {
  display: flex;
  flex-direction: column;
  gap: 54px;
  justify-content: center;
  align-items: center;
  flex: 0 1 373px;
  justify-content: flex-end;
  padding-bottom: 26px;
}
.footer__rightside p {
  max-width: 322px;
  color: var(--bg-color);
  font-size: 24px;
  font-weight: 600;
  line-height: 28px;
  text-align: center;
}
.footer__rightside p a {
  text-decoration: underline;
  color: var(--bg-color);
  font-size: 24px;
  font-weight: 600;
  line-height: 28px;
}

@media (max-width: 1087.98px) {
  .footer__content {
    gap: 10px;
    align-items: center;
  }
  .footer__rightside img {
    width: 100%;
  }
}
@media (max-width: 842px) {
  .footer__title {
    max-width: 416px;
  }
  .footer__content {
    flex-direction: column;
    height: inherit;
    gap: 40px;
  }
  .footer__leftside {
    align-items: center;
  }
}
@media (max-width: 600px) {
  .footer__content {
    padding: 70px 20px 70px 20px;
  }
  .footer__title {
    max-width: 330px;
  }
  .footer__rightside {
    justify-content: flex-start;
    flex: 0 0 auto;
    gap: 15px;
  }
  .footer__rightside img {
    width: 79px;
    height: 86px;
  }
  .footer__rightside p {
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    text-align: center;
  }
  #footer {
    margin-bottom: 50px;
  }
  .footer__leftside {
    width: 370px;
  }
  .input__change-lang {
    display: flex;
    flex-direction: column;
    max-width: 370px;
  }
  .footer__item:nth-child(1) {
    margin-bottom: 30px;
  }
  .footer__item:nth-child(1) input {
    width: 160px;
  }
  .footer__item:nth-child(2) textarea {
    width: 370px;
  }
  .footer__item:nth-child(3) {
    margin-bottom: 23px;
  }
  .footer__item:nth-child(4) input {
    width: 370px;
    margin-bottom: 20px;
  }
  .footer__item:nth-child(5) input {
    width: 176px;
    margin-bottom: 20px;
  }
  .footer__item:nth-child(6) {
    margin-bottom: 35px;
  }
  .footer__item:nth-child(6) fieldset {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
  }
  .footer__item:nth-child(6) fieldset legend {
    color: var(--bg-color);
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    text-align: left;
    margin-bottom: 19px;
  }
  .footer__item:nth-child(6) fieldset div > label {
    padding-left: 10px;
    color: var(--bg-color);
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    text-align: left;
  }
  .footer__leftside button {
    width: 100%;
  }
}
.custom-radio {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.custom-radio + label {
  display: inline-flex;
  align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
}

.custom-radio + label::before {
  content: "";
  display: inline-block;
  width: 1em;
  height: 1em;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #adb5bd;
  border-radius: 50%;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

.custom-radio:not(:disabled):not(:checked) + label:hover::before {
  border-color: #b3d7ff;
}

.custom-radio:not(:disabled):active + label::before {
  background-color: #b3d7ff;
  border-color: #b3d7ff;
}

.custom-radio:focus + label::before {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.custom-radio:focus:not(:checked) + label::before {
  border-color: #80bdff;
}

.custom-radio:checked + label::before {
  border-color: var(--bg-color);
  background-color: var(--bg-color);
  background-image: url("../../assets/icon/Ellipse 47.svg");
  background-position: center;
  background-size: auto;
  background-repeat: no-repeat;
}

.custom-radio:disabled + label::before {
  background-color: #e9ecef;
}

.confirm__politic > input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.confirm__politic > span {
  display: inline-flex;
  align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.confirm__politic > span::before {
  content: "";
  display: inline-block;
  width: 1em;
  height: 1em;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #adb5bd;
  border-radius: 0.25em;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

.confirm__politic > input:not(:disabled):not(:checked) + span:hover::before {
  border-color: #b3d7ff;
}

.confirm__politic > input:not(:disabled):active + span::before {
  background-color: #b3d7ff;
  border-color: #b3d7ff;
}

.confirm__politic > input:focus + span::before {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.confirm__politic > input:focus:not(:checked) + span::before {
  border-color: #80bdff;
}

.confirm__politic > input:checked + span::before {
  border-color: #0b76ef;
  background-color: #0b76ef;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

.confirm__politic > input:disabled + span::before {
  background-color: #e9ecef;
}

.input-file {
  position: relative;
  display: inline-block;
  align-items: center;
}

.input-file-btn {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  text-decoration: none;
  font-size: 14px;
  vertical-align: middle;
  color: rgb(255, 255, 255);
  text-align: center;
  border-radius: 4px;
  line-height: 22px;
  height: 20px;
  padding: 10px 20px;
  box-sizing: border-box;
  cursor: pointer;
  border: none;
  margin: 0;
  background-image: url("../../assets/icon/Plus.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  transition: background-color 0.2s;
}

.input-file-text {
  padding: 0 10px;
  line-height: 40px;
  display: inline-block;
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
}

.input-file input[type=file] {
  position: absolute;
  z-index: -1;
  opacity: 0;
  display: block;
  width: 0;
  height: 0;
}

.input-file input[type=file]:disabled + .input-file-btn {
  background-color: #eee;
}

:root {
  --bg-color: #ffffff;
  --dark-color: #000000;
  --blackgrey-main-text: #282828;
  --red-color-btn: #dc4133;
  --grey-color: #d9d9d9;
  --aqua-color: #249eb8;
  --aqualight-color: #27a8c4;
}

[class*=__container] {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

[class*=_container] {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 15px;
}

.wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

body {
  font-family: Raleway;
  font-size: 16px;
}

body.__lock {
  overflow: hidden;
}

:root {
  --bg-color: #ffffff;
  --dark-color: #000000;
  --blackgrey-main-text: #282828;
  --red-color-btn: #dc4133;
  --grey-color: #d9d9d9;
  --aqua-color: #249eb8;
  --aqualight-color: #27a8c4;
}

.main__title {
  background-color: var(--grey-color);
  height: 127px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--dark-color);
  font-size: 64px;
  font-weight: 600;
  line-height: 110%;
}

@media (max-width: 500px) {
  .main__title {
    height: 78px;
    font-size: 33px;
    font-weight: 600;
    line-height: 110%;
  }
}
.blog {
  background-color: var(--bg-color);
  display: flex;
  flex-direction: column;
  padding: 63px 0 108px 0;
}

.blog__textContent {
  display: flex;
  flex-direction: column;
  gap: 63px;
}

.blog__title {
  color: var(--blackgrey-main-text);
  font-size: 41px;
  font-weight: 400;
  line-height: 48px;
  text-align: center;
  max-width: 761px;
  margin: 0 auto;
}

.blog__subtitle {
  color: var(--aqua-color);
  font-size: 25px;
  font-weight: 600;
  line-height: 29px;
  text-align: center;
  max-width: 1100px;
  margin: 0 auto;
  margin-bottom: 75px;
}

.blog__columns {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 0 10px;
}

.blog__column {
  display: flex;
  flex-direction: column;
  gap: 49px;
  margin-bottom: 40px;
}

.hiddenBlog {
  display: none;
}

.showBlog {
  display: block;
}

@media (max-width: 769.98px) {
  .blog__title {
    font-size: 24px;
    font-weight: 400;
    line-height: 23px;
  }
}
@media (max-width: 500px) {
  .blog {
    padding: 31px 0 36px 0;
  }
  .blog__title {
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
  }
  .blog__textContent {
    gap: 25px;
  }
  .blog__subtitle {
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    margin-bottom: 31px;
    max-width: 351px;
  }
}
.blog__min {
  position: relative;
  width: 360px;
  height: 120px;
  background-color: var(--grey-color);
  border-radius: 24px;
  padding: 20px 10px 11px 19px;
}
.blog__min span {
  color: #8b8989;
  font-size: 15px;
  font-weight: 500;
  line-height: 1;
  display: flex;
  justify-content: center;
}

.blog__min-200 {
  position: relative;
  width: 360px;
  height: 200px;
  background-color: var(--grey-color);
  border-radius: 24px;
  padding: 26px 0 11px 15px;
}
.blog__min-200 span {
  color: #8b8989;
  font-size: 15px;
  font-weight: 500;
  line-height: 1;
  display: flex;
  justify-content: center;
}
.blog__min-200 h3 {
  max-width: 248px;
}
.blog__min-200 p {
  line-height: 137.2%;
}

.blog__min-200 canvas {
  background-image: url("../../assets/icon/arrow.svg");
  background-repeat: no-repeat;
  background-size: auto;
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: -165px;
  right: -325px;
}

.blog__min canvas {
  background-image: url("../../assets/icon/arrow.svg");
  background-repeat: no-repeat;
  background-size: auto;
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: -85px;
  right: -325px;
}

.blog__min-title {
  color: var(--dark-color);
  font-size: 20px;
  font-weight: 600;
  line-height: 1;
  margin-bottom: 12px;
}

.blog__min-text {
  max-height: 84px;
  color: #696969;
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  text-align: left;
  margin-bottom: 12px;
}

.blog__max {
  position: relative;
  height: 310px;
  width: 360px;
}

.blog__bottom-content {
  position: relative;
  width: 360px;
  margin-top: -60px;
  height: 120px;
  background-color: var(--grey-color);
  border-radius: 24px;
  padding: 20px 10px 11px 19px;
}
.blog__bottom-content span {
  color: #8b8989;
  font-size: 15px;
  font-weight: 500;
  line-height: 1;
  display: flex;
  justify-content: center;
}

.blog__bottom-content canvas {
  background-image: url("../../assets/icon/arrow.svg");
  background-repeat: no-repeat;
  background-size: auto;
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: -85px;
  right: -325px;
}

.blog__btn {
  width: 211px;
  height: 51px;
  border-radius: 25px;
  border: 1px solid var(--dark-color);
  background-color: transparent;
  color: #696969;
  font-size: 20px;
  font-weight: 500;
  line-height: 137.2%;
  text-align: center;
  margin: 0 auto;
  margin-top: 156px;
}

@media (max-width: 500px) {
  .blog__btn {
    margin-top: 0px;
  }
}
.services {
  background-color: #f3f3f3;
  padding: 91px 0 114px 0;
}

.services__content {
  position: relative;
  z-index: 10;
}

.services__title {
  display: flex;
  justify-content: center;
  color: var(--blackgrey-main-text);
  font-size: 51px;
  font-weight: 600;
  line-height: 60px;
  margin: 0 auto;
  margin-bottom: 36px;
}

.services__block {
  position: relative;
  display: flex;
  align-items: center;
  height: 417px;
  overflow: hidden;
}

.arrow-left {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 60%;
  transform: translate(-60%, 0);
  left: -40px;
  cursor: pointer;
  z-index: 10;
}

.arrow-right {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 60%;
  transform: translate(-60%, 0);
  right: -80px;
  cursor: pointer;
}

.services__block-content {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  gap: 60px;
  left: 0;
  transition: all 1s ease 0s;
}

.slide__content {
  position: relative;
  min-width: 430px;
  height: 294px;
  background-color: var(--bg-color);
  border-radius: 43px;
  padding: 60px 44px 31px 44px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 26px;
  margin-top: 36px;
}
.slide__content canvas {
  position: absolute;
  width: 73px;
  height: 73px;
  top: -36px;
  left: 42%;
  z-index: 999;
  box-sizing: border-box;
  border-radius: 50%;
  border: 2px solid rgb(0, 0, 0);
  background: rgba(255, 255, 255, 0.4980392157);
  -webkit-backdrop-filter: blur(30px);
          backdrop-filter: blur(30px);
  background-image: url("../../assets/icon/services.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: auto;
}

.services__block-content > .slide__content:nth-child(2) {
  padding-top: 50px;
  gap: 22px;
}

.slider__title {
  color: var(--aqua-color);
  font-size: 30px;
  font-weight: 600;
  line-height: 35px;
}

.slider__subtext {
  color: #696969;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2;
  text-align: center;
}

#services-btn {
  width: 276px;
  height: 51px;
  color: #696969;
  font-size: 20px;
  font-weight: 500;
  line-height: 137.2%;
  border-radius: 25px;
  border: 1px solid var(--dark-color);
  background-color: transparent;
  margin: 56px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 425px) {
  .services {
    padding: 33px 0 43px 0;
  }
  .services__title {
    color: var(--blackgrey-main-text);
    font-size: 33px;
    font-weight: 600;
    line-height: 39px;
  }
  .slide__content {
    width: 360px;
    gap: 0;
    padding: 50px 22px 20px 24px;
  }
  .slide__content canvas {
    position: absolute;
    width: 73px;
    height: 73px;
    top: -36px;
    left: 39%;
    z-index: 999;
    box-sizing: border-box;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.4980392157);
    -webkit-backdrop-filter: blur(30px);
            backdrop-filter: blur(30px);
    background-image: url("../../assets/icon/services.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto;
  }
  .slider__title {
    font-size: 27px;
    font-weight: 600;
    line-height: 1;
    max-width: 300px;
    text-align: center;
    margin-bottom: 19px;
  }
  .slider__subtext {
    color: #696969;
    font-size: 16px;
    font-weight: 500;
    line-height: 1;
    text-align: center;
  }
  .slider-btn {
    margin-top: 20px;
    display: flex;
    gap: 15px;
    justify-content: center;
  }
}
.example-blog {
  padding: 20px 0 80px 0;
}

.example-blog__content a {
  color: var(--blackgrey-main-text);
  text-decoration: underline;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  text-align: left;
}

.content__exmp-1 {
  margin-top: 48px;
  display: flex;
  justify-content: space-between;
}

.bottom-text {
  display: none;
}

.exmp-1__ls {
  flex: 0 1 500px;
}
.exmp-1__ls span {
  color: #8b8989;
  font-size: 16px;
  font-weight: 500;
  line-height: 110%;
  text-align: left;
}
.exmp-1__ls p {
  margin-top: 60px;
  color: var(--dark-color);
  font-size: 20px;
  font-weight: 500;
  line-height: 137.2%;
  text-align: left;
  max-width: 461px;
}

.exmp-1__ls-title {
  color: var(--dark-color);
  font-size: 64px;
  font-weight: 600;
  line-height: 110%;
  text-align: left;
  margin-bottom: 8px;
  background-image: url("../../assets/icon/bookmark.svg");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: right center;
}

.bookmarkIcon {
  fill: white;
}

.exmp-1__rs {
  flex: 0 1 647px;
  height: 317px;
  background-color: #999999;
  border-radius: 58px;
}

.grey__title {
  height: 159px;
  width: 100%;
  background-color: #d9d9d9;
  padding-top: 30px;
}
.grey__title div {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.grey__title div > p:first-child {
  color: var(--dark-color);
  font-weight: 400;
  font-size: 20px;
  line-height: 110%;
  text-align: left;
}
.grey__title div > p:not(:first-child) {
  color: var(--dark-color);
  font-size: 20px;
  font-weight: 300;
  line-height: 110%;
  text-align: left;
}

.content__exmp-2 {
  margin: 132px 0 161px 0;
}

.content__exmp-2__content {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.content__exmp-2__content h2 {
  color: var(--blackgrey-main-text);
  font-size: 40px;
  font-weight: 600;
  line-height: 47px;
  margin-bottom: 28px;
}
.content__exmp-2__content h3 {
  color: var(--blackgrey-main-text);
  font-size: 28px;
  font-weight: 600;
  line-height: 33px;
  margin-bottom: 28px;
}
.content__exmp-2__content h4 {
  color: var(--blackgrey-main-text);
  font-size: 28px;
  font-weight: 600;
  line-height: 33px;
  margin-bottom: 28px;
}

.first-let {
  color: var(--dark-color);
  font-size: 20px;
  font-weight: 500;
  line-height: 137.2%;
  margin-bottom: 84px;
}

.second-let {
  color: var(--dark-color);
  font-size: 18px;
  font-weight: 500;
  line-height: 137.2%;
  margin-bottom: 28px;
}

.third-let {
  color: var(--dark-color);
  font-size: 18px;
  font-weight: 500;
  line-height: 137.2%;
}

@media (max-width: 734.98px) {
  .exmp-1__ls-title {
    color: var(--dark-color);
    font-size: 36px;
    font-weight: 600;
    line-height: 110%;
    text-align: left;
  }
  .content__exmp-1 {
    display: flex;
    flex-direction: column;
  }
  .content__exmp-1 p {
    display: block;
    margin-top: 12px;
    color: var(--dark-color);
    font-size: 20px;
    font-weight: 500;
    line-height: 137.2%;
    text-align: left;
  }
  .exmp-1__rs {
    margin-top: 12px;
    max-height: 214px;
  }
  .exmp-1__ls {
    flex: 0 1 auto;
  }
  .exmp-1__ls p {
    display: none;
  }
  .example-blog {
    padding: 0px 0 20px 0;
  }
  .link-bread {
    display: none;
  }
  .content__exmp-2 {
    margin: 34px 0 34px 0;
  }
  .first-let {
    margin-bottom: 29px;
  }
  .second-let {
    margin-bottom: 28px;
  }
  .third-let {
    display: none;
  }
  .content__exmp-2__content h4 {
    display: none;
  }
}
:root {
  --bg-color: #ffffff;
  --dark-color: #000000;
  --blackgrey-main-text: #282828;
  --red-color-btn: #dc4133;
  --grey-color: #d9d9d9;
  --aqua-color: #249eb8;
  --aqualight-color: #27a8c4;
}