//==============================Footer===================================

#footer {
	margin-bottom: 242px;
}

.footer__content {
	width: 100%;
	height: 772px;
	background-color: #195874;
	border-radius: 30px;
	padding: 78px 130px 81px 100px;
	display: flex;
	justify-content: space-between;
	max-width: 1170px;
	margin: 0 auto;
}

.footer__leftside {
	display: flex;
	flex-direction: column;
	flex: 0 1 480px;
}
.footer__title {
	color: var(--bg-color);
	font-size: 28px;
	font-weight: 600;
	line-height: 33px;
	text-align: left;
	margin-bottom: 40px;
}
.input__change-lang {
	display: flex;
	flex-direction: column;
	max-width: 416px;
}
.footer__item:nth-child(1) {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 30px;
	input {
		background-color: #f5f6fa;
		border-radius: 10px;
		border: none;
		padding-top: 12px;
		padding-bottom: 12px;
		padding-left: 20px;
		font-size: 16px;
		width: 180px;
		::placeholder {
			color: rgba(120, 115, 115, 0.6);
			font-size: 16px;
			font-weight: 600;
			line-height: 19px;
		}
	}
}
.footer__item:nth-child(2) {
	label {
		color: var(--bg-color);
		font-size: 16px;
		font-weight: 600;
		line-height: 19px;
		text-align: left;
	}
	textarea {
		width: 416px;
		height: 64px;
		background-color: #f5f6fa;
		border-radius: 10px;
		border: none;
		padding-top: 12px;
		padding-left: 20px;
		font-size: 16px;
		margin: 14px 0 16px 0;
		resize: none;
		::placeholder {
			color: rgba(120, 115, 115, 0.6);
			font-size: 16px;
			font-weight: 600;
			line-height: 19px;
			text-align: left;
		}
	}
}
.footer__item:nth-child(3) {
	margin-bottom: 23px;
}
.footer__item:nth-child(4) {
	input {
		width: 416px;
		height: 43px;
		background-color: #f5f6fa;
		border-radius: 10px;
		border: none;
		padding-top: 12px;
		padding-bottom: 12px;
		padding-left: 20px;
		font-size: 16px;
		margin-bottom: 20px;
		::placeholder {
			color: rgba(120, 115, 115, 0.6);
			font-size: 16px;
			font-weight: 600;
			line-height: 19px;
			text-align: left;
		}
	}
}
.footer__item:nth-child(5) {
	display: flex;
	justify-content: space-between;
	input {
		width: 198px;
		height: 43px;
		background-color: #f5f6fa;
		border-radius: 10px;
		border: none;
		padding-top: 12px;
		padding-bottom: 12px;
		padding-left: 20px;
		font-size: 16px;
		margin-bottom: 20px;
		::placeholder {
			color: rgba(120, 115, 115, 0.6);
			font-size: 14px;
			font-weight: 600;
			line-height: 19px;
			text-align: left;
		}
	}
}
.footer__item:nth-child(6) {
	margin-bottom: 35px;
	fieldset {
		display: flex;
		flex-wrap: wrap;
		gap: 32px;
		legend {
			color: var(--bg-color);
			font-size: 16px;
			font-weight: 600;
			line-height: 19px;
			text-align: left;
			margin-bottom: 19px;
		}
		div > label {
			padding-left: 10px;
			color: var(--bg-color);
			font-size: 16px;
			font-weight: 600;
			line-height: 19px;
			text-align: left;
		}
	}
}
.footer__leftside button {
	width: 191px;
	min-height: 50px;
	background-color: #74c04b;
	border: none;
	border-radius: 30px;
	color: var(--bg-color);
	font-size: 16px;
	font-weight: 700;
	line-height: 19px;
	padding: 10px 30px;
}
.confirm__politic {
	display: flex;
	margin-top: 15px;
	gap: 6px;
	span {
		color: rgba(255, 255, 255, 0.7);
		font-size: 14px;
		font-weight: 400;
		line-height: 130%;
		text-align: left;
		a {
			color: rgba(255, 255, 255, 0.7);
			text-decoration: underline;
			font-size: 14px;
			font-weight: 400;
			line-height: 130%;
		}
	}
}
input[type="checkbox" i] {
	margin: 1px 3px 3px 4px;
	border: 1px solid var(--dark-color);
}

.footer__rightside {
	display: flex;
	flex-direction: column;
	gap: 54px;
	justify-content: center;
	align-items: center;
	flex: 0 1 373px;
	justify-content: flex-end;
	padding-bottom: 26px;
	p {
		max-width: 322px;
		color: var(--bg-color);
		font-size: 24px;
		font-weight: 600;
		line-height: 28px;
		text-align: center;
		a {
			text-decoration: underline;
			color: var(--bg-color);
			font-size: 24px;
			font-weight: 600;
			line-height: 28px;
		}
	}
}

//==============================Footer Media=============================
@media (max-width: 1087.98px) {
	.footer__content {
		gap: 10px;
		align-items: center;
	}
	.footer__rightside img {
		width: 100%;
	}
}
@media (max-width: 842px) {
	.footer__title {
		max-width: 416px;
	}
	.footer__content {
		flex-direction: column;
		height: inherit;
		gap: 40px;
	}
	.footer__leftside {
		align-items: center;
	}
}
@media (max-width: 600px) {
	.footer__content {
		padding: 70px 20px 70px 20px;
	}
	.footer__title {
		max-width: 330px;
	}
	.footer__rightside {
		justify-content: flex-start;
		flex: 0 0 auto;
		gap: 15px;
		img {
			width: 79px;
			height: 86px;
		}
		p {
			font-size: 20px;
			font-weight: 600;
			line-height: 23px;
			text-align: center;
		}
	}
	#footer {
		margin-bottom: 50px;
	}
	.footer__leftside {
		width: 370px;
	}
	.input__change-lang {
		display: flex;
		flex-direction: column;
		max-width: 370px;
	}
	.footer__item:nth-child(1) {
		margin-bottom: 30px;
		input {
			width: 160px;
		}
	}
	.footer__item:nth-child(2) {
		textarea {
			width: 370px;
		}
	}
	.footer__item:nth-child(3) {
		margin-bottom: 23px;
	}
	.footer__item:nth-child(4) {
		input {
			width: 370px;
			margin-bottom: 20px;
		}
	}
	.footer__item:nth-child(5) {
		input {
			width: 176px;
			margin-bottom: 20px;
		}
	}
	.footer__item:nth-child(6) {
		margin-bottom: 35px;
		fieldset {
			display: flex;
			flex-wrap: wrap;
			gap: 32px;
			legend {
				color: var(--bg-color);
				font-size: 16px;
				font-weight: 600;
				line-height: 19px;
				text-align: left;
				margin-bottom: 19px;
			}
			div > label {
				padding-left: 10px;
				color: var(--bg-color);
				font-size: 16px;
				font-weight: 600;
				line-height: 19px;
				text-align: left;
			}
		}
	}
	.footer__leftside button {
		width: 100%;
	}
}

.custom-radio {
	position: absolute;
	z-index: -1;
	opacity: 0;
}

.custom-radio + label {
	display: inline-flex;
	align-items: center;
	user-select: none;
	cursor: pointer;
}

.custom-radio + label::before {
	content: "";
	display: inline-block;
	width: 1em;
	height: 1em;
	flex-shrink: 0;
	flex-grow: 0;
	border: 1px solid #adb5bd;
	border-radius: 50%;
	margin-right: 0.5em;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 50% 50%;
}

.custom-radio:not(:disabled):not(:checked) + label:hover::before {
	border-color: #b3d7ff;
}

.custom-radio:not(:disabled):active + label::before {
	background-color: #b3d7ff;
	border-color: #b3d7ff;
}

.custom-radio:focus + label::before {
	box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.custom-radio:focus:not(:checked) + label::before {
	border-color: #80bdff;
}

.custom-radio:checked + label::before {
	border-color: var(--bg-color);
	background-color: var(--bg-color);
	background-image: url("../../assets/icon/Ellipse\ 47.svg");
	background-position: center;
	background-size: auto;
	background-repeat: no-repeat;
}

.custom-radio:disabled + label::before {
	background-color: #e9ecef;
}

//=======================================================================

.confirm__politic > input {
	position: absolute;
	z-index: -1;
	opacity: 0;
}
.confirm__politic > span {
	display: inline-flex;
	align-items: center;
	user-select: none;
}
.confirm__politic > span::before {
	content: "";
	display: inline-block;
	width: 1em;
	height: 1em;
	flex-shrink: 0;
	flex-grow: 0;
	border: 1px solid #adb5bd;
	border-radius: 0.25em;
	margin-right: 0.5em;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 50% 50%;
}
.confirm__politic > input:not(:disabled):not(:checked) + span:hover::before {
	border-color: #b3d7ff;
}
.confirm__politic > input:not(:disabled):active + span::before {
	background-color: #b3d7ff;
	border-color: #b3d7ff;
}
.confirm__politic > input:focus + span::before {
	box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
.confirm__politic > input:focus:not(:checked) + span::before {
	border-color: #80bdff;
}
.confirm__politic > input:checked + span::before {
	border-color: #0b76ef;
	background-color: #0b76ef;
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}
.confirm__politic > input:disabled + span::before {
	background-color: #e9ecef;
}

//=======================================================================
//=======================================================================

.input-file {
	position: relative;
	display: inline-block;
	align-items: center;
}
.input-file-btn {
	position: relative;
	display: inline-block;
	cursor: pointer;
	outline: none;
	text-decoration: none;
	font-size: 14px;
	vertical-align: middle;
	color: rgb(255 255 255);
	text-align: center;
	border-radius: 4px;
	line-height: 22px;
	height: 20px;
	padding: 10px 20px;
	box-sizing: border-box;
	cursor: pointer;
	border: none;
	margin: 0;
	background-image: url("../../assets/icon/Plus.svg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: auto;
	transition: background-color 0.2s;
}
.input-file-text {
	padding: 0 10px;
	line-height: 40px;
	display: inline-block;
	color: rgb(255, 255, 255);
	font-size: 16px;
	font-weight: 600;
	line-height: 19px;
}
.input-file input[type="file"] {
	position: absolute;
	z-index: -1;
	opacity: 0;
	display: block;
	width: 0;
	height: 0;
}
.input-file input[type="file"]:disabled + .input-file-btn {
	background-color: #eee;
}
