@import "../components/ui";

//===============================Main========================================

.main__title {
	background-color: var(--grey-color);
	height: 127px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--dark-color);
	font-size: 64px;
	font-weight: 600;
	line-height: 110%;
}

//==================================Blog=====================================

.blog {
	background-color: var(--bg-color);
	display: flex;
	flex-direction: column;
	padding: 63px 0 108px 0;
}
.blog__textContent {
	display: flex;
	flex-direction: column;
	gap: 63px;
}
.blog__title {
	color: var(--blackgrey-main-text);
	font-size: 41px;
	font-weight: 400;
	line-height: 48px;
	text-align: center;
	max-width: 761px;
	margin: 0 auto;
}
.blog__subtitle {
	color: var(--aqua-color);
	font-size: 25px;
	font-weight: 600;
	line-height: 29px;
	text-align: center;
	max-width: 1100px;
	margin: 0 auto;
	margin-bottom: 75px;
}

.blog__columns {
	display: flex;
	justify-content: space-between;
}
.blog__column {
	display: flex;
	flex-direction: column;
	gap: 49px;
}
#hiddenBlog {
	display: none;
}

//==================================Blog Min=====================================
.blog__min {
	position: relative;
	width: 360px;
	height: 120px;
	background-color: var(--grey-color);
	border-radius: 24px;
	padding: 20px 10px 11px 19px;
	span {
		color: #8b8989;
		font-size: 15px;
		font-weight: 500;
		line-height: 1;
		display: flex;
		justify-content: center;
	}
}
.blog__min-200 {
	position: relative;
	width: 360px;
	height: 200px;
	background-color: var(--grey-color);
	border-radius: 24px;
	padding: 26px 0 11px 15px;
	span {
		color: #8b8989;
		font-size: 15px;
		font-weight: 500;
		line-height: 1;
		display: flex;
		justify-content: center;
	}
	h3 {
		max-width: 248px;
	}
	p {
		line-height: 137.2%;
	}
}
.blog__min-200 canvas {
	background-image: url("../../assets/icon/arrow.svg");
	background-repeat: no-repeat;
	background-size: auto;
	position: absolute;
	width: 100%;
	height: 100%;
	bottom: -165px;
	right: -325px;
}
.blog__min canvas {
	background-image: url("../../assets/icon/arrow.svg");
	background-repeat: no-repeat;
	background-size: auto;
	position: absolute;
	width: 100%;
	height: 100%;
	bottom: -85px;
	right: -325px;
}
.blog__min-title {
	color: var(--dark-color);
	font-size: 20px;
	font-weight: 600;
	line-height: 1;
	margin-bottom: 12px;
}
.blog__min-text {
	max-height: 84px;
	color: #696969;
	font-size: 16px;
	font-weight: 500;
	line-height: 1;
	text-align: left;
	margin-bottom: 12px;
}
//==================================Blog Max=====================================

.blog__max {
	position: relative;
	height: 310px;
	width: 360px;
}
.blog__bottom-content {
	position: relative;
	width: 360px;
	margin-top: -60px;
	height: 120px;
	background-color: var(--grey-color);
	border-radius: 24px;
	padding: 20px 10px 11px 19px;
	span {
		color: #8b8989;
		font-size: 15px;
		font-weight: 500;
		line-height: 1;
		display: flex;
		justify-content: center;
	}
}
.blog__bottom-content canvas {
	background-image: url("../../assets/icon/arrow.svg");
	background-repeat: no-repeat;
	background-size: auto;
	position: absolute;
	width: 100%;
	height: 100%;
	bottom: -85px;
	right: -325px;
}

//=================================Button blog======================================

.blog__btn {
	width: 211px;
	height: 51px;
	border-radius: 25px;
	border: 1px solid var(--dark-color);
	background-color: transparent;
	color: #696969;
	font-size: 20px;
	font-weight: 500;
	line-height: 137.2%;
	text-align: center;
	margin: 0 auto;
	margin-top: 156px;
}

//==================================Blog Media=================================

//==================================Services=====================================

.services {
	background-color: #f3f3f3;
	padding: 91px 0 114px 0;
}
.services__content {
	display: flex;
	flex-direction: column;
	gap: 36px;
	position: relative;
	z-index: 10;
}
.services__title {
	color: var(--blackgrey-main-text);
	font-size: 51px;
	font-weight: 600;
	line-height: 60px;
	margin: 0 auto;
}
.swiper {
	width: 1360px;
}
.swiper-wrapper {
	width: 1240px;
	height: 330px;
	margin: 0 auto;
}
.slide__content {
	position: relative;
	width: 430px;
	height: 294px;
	background-color: var(--bg-color);
	border-radius: 43px;
	padding: 60px 44px 31px 44px;
	text-align: center;
	display: flex;
	flex-direction: column;
	gap: 26px;
	margin-top: 36px;
	canvas {
		position: absolute;
		width: 73px;
		height: 73px;
		top: -36px;
		left: 42%;
		z-index: 999;
		box-sizing: border-box;
		border-radius: 50%;
		border: 2px solid rgb(0, 0, 0);
		background: #ffffff7f;
		backdrop-filter: blur(30px);
		background-image: url("../../assets/icon/services.svg");
		background-position: center center;
		background-repeat: no-repeat;
		background-size: auto;
	}
}
.slider__title {
	color: var(--aqua-color);
	font-size: 30px;
	font-weight: 600;
	line-height: 35px;
}
.slider__subtext {
	color: #696969;
	font-size: 16px;
	font-weight: 500;
	line-height: 1.2;
	text-align: center;
}
.swiper-button-prev {
}
.swiper-button-next {
}

#services-btn {
	width: 276px;
	height: 51px;
	color: #696969;
	font-size: 20px;
	font-weight: 500;
	line-height: 137.2%;
	border-radius: 25px;
	border: 1px solid var(--dark-color);
	background-color: transparent;
	margin: 56px auto;
	display: flex;
	justify-content: center;
	align-items: center;
}

//===================================Services Media====================================

//===================================Blog Page====================================

.example-blog {
	padding: 20px 0 80px 0;
}
.example-blog__content {
	a {
		color: var(--blackgrey-main-text);
		text-decoration: underline;
		font-size: 16px;
		font-weight: 500;
		line-height: 19px;
		text-align: left;
	}
}
.content__exmp-1 {
	margin-top: 48px;
	display: flex;
	justify-content: space-between;
}
.exmp-1__ls {
	flex: 0 1 500px;
	span {
		color: #8b8989;
		font-size: 16px;
		font-weight: 500;
		line-height: 110%;
		text-align: left;
	}
	p {
		margin-top: 60px;
		color: var(--dark-color);
		font-size: 20px;
		font-weight: 500;
		line-height: 137.2%;
		text-align: left;
		max-width: 461px;
	}
}
.exmp-1__ls-title {
	color: var(--dark-color);
	font-size: 64px;
	font-weight: 600;
	line-height: 110%;
	text-align: left;
	margin-bottom: 8px;
}
.exmp-1__rs {
	flex: 0 1 647px;
	height: 317px;
	background-color: #999999;
	border-radius: 58px;
}

.grey__title {
	height: 159px;
	width: 100%;
	background-color: #d9d9d9;
	padding-top: 30px;
	div {
		display: flex;
		flex-direction: column;
		gap: 5px;
	}
	div > p:first-child {
		color: var(--dark-color);
		font-weight: 400;
		font-size: 20px;
		line-height: 110%;
		text-align: left;
	}
	div > p:not(:first-child) {
		color: var(--dark-color);
		font-size: 20px;
		font-weight: 300;
		line-height: 110%;
		text-align: left;
	}
}

.content__exmp-2 {
	margin: 132px 0 161px 0;
}

.content__exmp-2__content {
	display: flex;
	flex-direction: column;
	width: 100%;
	h2 {
		color: var(--blackgrey-main-text);
		font-size: 40px;
		font-weight: 600;
		line-height: 47px;
		margin-bottom: 28px;
	}
	h3 {
		color: var(--blackgrey-main-text);
		font-size: 28px;
		font-weight: 600;
		line-height: 33px;
		margin-bottom: 28px;
	}
	h4 {
		color: var(--blackgrey-main-text);
		font-size: 28px;
		font-weight: 600;
		line-height: 33px;
		margin-bottom: 28px;
	}
}
.first-let {
	color: var(--dark-color);
	font-size: 20px;
	font-weight: 500;
	line-height: 137.2%;
	margin-bottom: 84px;
}
.second-let {
	color: var(--dark-color);
	font-size: 18px;
	font-weight: 500;
	line-height: 137.2%;
	margin-bottom: 28px;
}
.third-let {
	color: var(--dark-color);
	font-size: 18px;
	font-weight: 500;
	line-height: 137.2%;
}

//===================================Blog Page Media====================================
