// ПЕРЕМЕННЫЕ>

$ff1: Raleway;

:root {
	--bg-color: #ffffff;
	--dark-color: #000000;
	--blackgrey-main-text: #282828;
	--red-color-btn: #dc4133;
	--grey-color: #d9d9d9;
	--aqua-color: #249eb8;
	--aqualight-color: #27a8c4;
}

